.pagination-div {
  text-align: center;
  display: flex;
  margin-right: 44.2%;
  margin-top: 40%;
  position: fixed;
}
.pagination-btn {
  color: black;
  float: left;
  padding: 8px 16px;
  text-decoration: none;
  transition: background-color 0.3s;
  border: 1px solid #ddd;
  margin: 0 4px;
}
.pagination-btn:hover {
  background-color: #4caf50;
  color: white;
  border: 1px solid #4caf50;
}
