.navbar-style {
  flex-direction: row;
  display: flex;
  justify-content: center;
  margin-bottom: 1em;
  margin-top: 0.5em;
  margin-left: auto;
  margin-right: 1px;
  border-radius: 3%;
  padding-left: 40em;
  padding-right: 410px;
  padding-top: 5px;
  padding-bottom: 5px;
  height: 80px;
  align-items: center;
  text-decoration: none;
  gap: 10%;

  background: linear-gradient(
    to left,
    rgb(141, 241, 9) 0%,
    rgb(253, 6, 146) 100%
  );
}
