.search-input {
  -webkit-appearance: none;
  width: 65%;
  line-height: 31px;
  margin-bottom: 12%;
  background-color: #aef88c;
}

.search-button {
  border: 0px;
  border-radius: 0px 15px 15px 0px;
  background-color: #41d8bf;
  height: 2.6em;
  width: 74px;
}

.search-button:hover {
  scale: 1.03;
  background-color: #06f8d0;
}
