.navbar-style {
  flex-direction: row;
  display: flex;
  justify-content: center;
  margin-bottom: 20px;
  padding-left: 645px;
  padding-right: 390px;
  height: 70px;
  align-items: center;
  gap: 10%;

  background: linear-gradient(
    to left,
    rgb(141, 241, 9) 0%,
    rgb(253, 6, 146) 100%
  );
}

#home-label:hover {
  scale: 1.2;
}
#create-label:hover {
  scale: 1.2;
}
#about-label:hover {
  scale: 1.2;
}
