#about-title {
  color: chartreuse;
  padding: 50px;
}
.contenedorAbout {
  justify-content: center;
  align-items: center;
  font-size: 32px;
  display: flex;
  text-align: center;
  min-height: 80vh;
  flex-direction: row;
  text-shadow: -1px -1px rgb(0, 0, 0), 1px 1px rgb(0, 0, 0), -3px 0 4px #000;
  font-family: Arial, Helvetica, sans-serif;
  color: greenyellow;
  border: solid;
  border-width: 3px;

  background-color: #2f89b3;
  width: fit-content;
  padding: 0.3em;
  border-radius: 10px;
  box-shadow: 10px 10px 5px 0px rgba(0, 0, 0, 0.75);
  text-shadow: 6px 4px 7px rgba(0, 0, 0, 0.6);
  margin-left: 20%;
  margin-right: 20%;
}
.henry-link:link,
.henry-link:visited {
  color: aqua;
  padding: 5px 10px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
}

.henry-link:hover,
.henry-link:active {
  color: yellow;
}
