.contenedorAbout {
  background-color: rgb(117, 170, 230);
  justify-content: center;
  margin: auto;
  margin-top: 3%;
  padding: 2%;
  width: 85%;
  border-radius: 5%;
  font-family: sans-serif;
  box-shadow: 10px 10px 5px 0px rgba(0, 0, 0, 0.75);
  text-shadow: 6px 4px 7px rgba(0, 0, 0, 0.6);
  font-size: large;
}
